<configuration>
	<appSettings>
		<add key="isFirst" value="false"/>
		<add key="HaHaFunny" value="false"/>
		<add key="CalculatePerPearson" value="false"/>
		<add key="CalculatePerNight" value="false"/>
		<add key="CalculateUnderaged" value="false"/>
		<add key="CalculateUnderagedAge" value="15"/>
	</appSettings>
</configuration>